.buildTeamForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buildTeamForm input,
.buildTeamForm select {
  width: calc(100% - 28px);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: inherit;
  border: 1px solid #00000066;
}

::placeholder {
  color: #cbcfd4;
}

.formTitle {
  margin-right: auto;
  padding: 10px;
}

.formName,
.formDropdownSelect {
  height: 42px;
}

.formDescribion {
  height: 71px;
}

.formSubmitButton {
  width: 90%;
  position: fixed;
  bottom: 20px;
}
