.event {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 10px;
}

.eventinfo {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.eventTitle {
  padding: 20px;
}

.evenDetailTitle {
  font-family: "Poppins";
  text-transform: capitalize;
  font-style: normal;
  padding: 10px;
  color: #5f5f5f;
  font-size: 15px;
}

.eventDescription {
  font-size: 16px;
}

.eventDetail {
  padding: 30px;
}

.eventThumbnail {
  width: 100%;
}
