.eventinfo {
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: #999999 2px 2px 20px;
}

.eventinfo img {
  width: auto;
  height: 250px;
  border-radius: 12px 12px 0 0;
}

.eventContainer {
  padding: 20px;
}

.eventTitle {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}

.eventDetail {
  padding: 30px;
}

.eventThumbnail {
  width: 100%;
  object-fit: cover;
}

.eventData {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  column-gap: 20px;
}

.eventshortDescription {
  padding-left: 20px;
  padding-right: 20px;
}
.eventDescription {
  font-size: 12px;
}

.eventDate {
  font-size: 10px;
  color: #a1a8b9;
}
