.background {
  background-image: url("../../img/bgimage.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pageContent {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 400px;
  height: 200px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.email,
.password,
.username {
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: #3c3c43;
}

input {
  border: none;
  border-radius: 20px;
  padding: 20px;
  background-color: #e8e8e8;
}

.usernameInput,
.passwordInput {
  margin-bottom: 20px;
}

h1 {
  color: #000;
  margin: 0 0 20px 0;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #999;
}

.signup {
  color: #000;
}

.signup > p > a {
  color: #4fc564;
}

span {
  color: #000;
}

button {
  background: linear-gradient(
    43.6deg,
    #7f398d 15.02%,
    #da2f69 67.96%,
    #ea5729 100.39%
  );
  padding: 15px;
  margin: 10px auto;
  border-radius: 10px;
  font-size: larger;
  font-weight: bold;
  width: 100%;
}
