.background {
  --background: #fff url('../../img/bgimage.png') no-repeat center center / cover;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background > .sociallogin{
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 25%;
}

.pageContent {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 400px;
  height: 200px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 250px;
}

.email,
.password,
.username {
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: #3c3c43;
}

.email > :first-child,
.password > :first-child,
.username > :first-child{
  margin-right: 10px;
}

input {
  border: none;
  border-radius: 20px;
  padding: 20px;
  background-color: #e8e8e8;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
}

.usernameInput,
.emailInput,
.passwordInput {
  margin-bottom: 20px;
}

h1 {
  color: #000;
  margin: 0 0 20px 0;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #999;
}

.signup {
  color: #000;
}

button,
.loginButton {
  background: linear-gradient(
    43.6deg,
    #7f398d 15.02%,
    #da2f69 67.96%,
    #ea5729 100.39%
  );
  color: #fff;
  padding: 15px;
  margin: 10px auto;
  border-radius: 10px;
  font-size: larger;
  font-weight: bold;
  width: 100%;
}
