.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  height: 100%;
}

.profilepicContainer {
  width: 200px;
  height: 180px;
}

.profilepic {
  max-width: 200px;
  max-height: 180px;
}

.uresname {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}

.proedit {
  background: linear-gradient(
    43.6deg,
    #7f398d 15.02%,
    #da2f69 67.96%,
    #ea5729 100.39%
  );
  border-radius: 50%;
  padding: 10px;
  font-size: 15px;
}

.profilebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: auto;
  background: #f2f2f2;
  border-radius: 0px 0px 10px 10px;
  color: #000000;
}

.profilebar > div {
  width: 33%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilebar > div > :first-child {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  background-color: #999999;
}

.profilebar > div > :nth-child(2) {
  font-size: 10px;
}
