.userTeam,
.selfUserTeam {
  display: flex;
  justify-content: space-evenly;
  column-gap: 20px;
  align-items: center;
  width: 100%;
}

.selfUserTeam {
  justify-content: space-between;
  column-gap: 0;
  flex-shrink: 0;
}

.userTeamCaption {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.userTeamTitle {
  font-size: 18px;
}

.userTeamShortDescription {
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
}

.selfUserTeamInfo{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
}
